@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Press Start 2P', cursive;
}

.app {
    background: url(../public/img/fundo-principal.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}